/* Styles go here */

body {
    font: 8px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* hide y axis */
.axis .tick line, .axis path {
    display: none;
}

.category-circle {
    fill: #F4A636;
}

.question-circle {
    fill: url(#gradient-questions);
}

.chart-area-circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: url(#gradient-chart-area);
}

.center-circle {
    fill: #fff;
}

.bars {
    fill: url(#gradient-bars);
}

.gridlines {
    fill: none;
    stroke: #fff;
}

.minor {
    stroke-width: 1px
}

.major {
    stroke-width: 6px
}

.question-label-arc {
    /*fill: white;
    stroke: #AAAAAA;
    fill: url(#gradient-questions);*/
}

.category-label-text {
    font-weight: bold;
    font-size: 14px;
    fill: #fff;
}

.question-labels {
    text-anchor: middle;
    font-weight: bold;
    fill: #3e3e3e;
}

.category-labels {
    text-anchor: middle;
    font-weight: bold;
    font-size: 14px;
    fill: #fff;
}