/* Styles go here */

body {
    font-family: Dosis, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
}

h2 {
    font-family: Dosis, sans-serif;
    font-size: 42px;
    font-weight: 800;
    color: #006064;
}

a {
   color: #006064;
}

p {
    font-display: block;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.description {
    width: 800px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

span {
    margin: 25px;
    font-size: 18px;
    font-weight: 500;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* hide y axis */
.axis .tick line, .axis path {
    display: none;
}

.category-circle {
    fill: #006064;
}

.question-circle {
    fill: url(#gradient-questions);
}

.chart-area-circle {
    stroke: #fff;
    stroke-width: 3px;
    fill: url(#gradient-chart-area);
}

.center-circle {
    fill: #fff;
}

.bars {
    fill: url(#gradient-bars);
}

.gridlines {
    fill: none;
    stroke: #fff;
}

.minor {
    stroke-width: 1px;
}

.major {
    stroke-width: 4px;
}

.question-label-arc {
    /*fill: white;
    stroke: #AAAAAA;
    fill: url(#gradient-questions);*/
}

.category-label-text {
    font-weight: bold;
    font-size: 14px;
    fill: #fff;
}

.question-labels {
    text-anchor: middle;
    font-weight: 800;
    fill: #3e3e3e;
}

.category-labels {
    text-anchor: middle;
    font-weight: bold;
    font-size: 14px;
    fill: #fff;
}